@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --dark-theme: #00060e;
    --title-gray: #888;
    --subtitle-gray: #7e7e7eb0;
    --card-subtitle: #fbffffe3;
    --highlight-green: #0cc301;
    --highlight-blue: #0774f3;
}

.problem-section.commercial {
    background-color: #f4f4f4;
}

.commercial-hero {
    display: flex;
    background-color: #000000c2;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding-top: 7rem;
    padding-left: 5rem;
    padding-bottom: 12rem;
}

.commercial-hero-content {
    width: 60%;
}

.commercial-hero-content h1 {
    font-size: 3rem;
    font-weight: 500;
    width: 80%;
    line-height: 1.2;
    margin: 0;
    color: white;
}

.commercial-hero-content p {
    font-size: 1.35rem;
    line-height: .9;
    color: var(--white);
    line-height: 1.5;
}

.evdestination {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 12rem 5.5rem;
    padding: 3rem;
    height: auto;
    background-color: var(--dark-theme);
    border-radius: 29px;
}

.evdestination div {
    display: grid;
    flex: 1;
    gap: 25px;
}

.evdestination div div {
    display: grid;
    gap: 0;
}

.evdestination div h1 {
    font-size: 2.6rem;
    line-height: 1.3;
    color: var(--white);
    font-weight: 700;
    margin: 0;
}

.evdestination div div h3 {
    font-size: 1.5rem;
    line-height: .5;
    color: var(--white);
    font-weight: 600;
    margin-bottom: 5px;
}

.evdestination div div p {
    font-size: 1rem;
    color: var(--white);
    font-weight: 400;
}

.evdestination div img {
    width: 100%;
    height: 100%;
    border-radius: 29px;
}

@media (max-width: 786px) {
    .commercial-hero {
        padding-left: 1rem;
        padding-top: 4rem;
        height: auto;
    }

    .commercial-hero-content {
        width: 100%;
    }

    .commercial-hero-content h1 {
        font-size: 1.75rem;
        width: 90%;
        line-height: 1.5;
    }

    .commercial-hero-content p {
        font-size: 1.2rem;
    }

    .evdestination {
        display: grid;
        gap: 20px;
        margin: 5rem 1rem;
        padding: 1.5rem;
    }

    .evdestination div {
        display: grid;
        flex: 0;
        gap: 5px;
    }

    .evdestination div h1 {
        font-size: 1.8rem;
        line-height: 1.3;
        color: var(--white);
        font-weight: 700;
        margin: 0;
    }

    .evdestination div div h3 {
        font-size: 1.2rem;
        line-height: 1.5;
        color: var(--white);
        font-weight: 600;
        margin-bottom: 0;
    }

    .evdestination div div p {
        font-size: .9rem;
        color: var(--white);
        font-weight: 400;
    }

    .evdestination-div-image {
        height: 450px;
    }

    .evdestination div img {
        width: 100%;
        height: 100%;
        border-radius: 29px;
    }
}